body{
    text-align: center;
}

.myInfoContainer{
    height: 90%;
    width: 90%;
    display: flex;
    flex-direction: column;
}


h1{
    font-size: medium;
}



.img{
    width: 100%;
    height: 100%;
    padding: 1rem;
}

.whiteTxt{
    color: white;
    letter-spacing: 1px;
}

.jobTitle{
    color: #F3BF99;
    margin: -10px auto 10px auto;
}

.contactMe{
    background-color: white;
    width: 7rem;
    border: none;
    border-radius: 3px;
    padding: 3px 5px;
}

.linkedInBtn{
    background-color: #5093E2;
    color: white;
    width: 7rem;
    border: none;
    border-radius: 3px;
    justify-content: space-around;
    padding: 3px 5px;
    letter-spacing: .7px;
}

.linkedInBtn:hover{
    cursor: pointer;
}

.linkedInBtn:active{
    opacity: 70%;
}

.LinkedIn{
    vertical-align: middle;
    fill: white;
    margin-right: 5px;
}

.btnContainer{
    display: flex;
    flex-shrink: 1;
    justify-content: space-around;
    width: 100%;
}