body {
  margin: auto;
  margin-top: 1.5rem;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #23252C;
  max-width: 500px;
  margin: auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.content-card{
  max-width: 35%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #1A1B21;
  padding: 3rem;
  border-radius: 22px;
  margin-bottom: 2rem;
  margin: auto;
}